@font-face {
    font-family: 'Chirp';
    src: url('fonts/ChirpRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/ChirpMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/ChirpBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/ChirpHeavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Chirp';
    src: url('fonts/ChirpExtendedHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: 'Chirp', Arial, sans-serif; /* Updated to use Chirp font */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overscroll-behavior: none; /* Prevents the bounce effect at the edges of the document */

}

.sidebar ul li span,
.tab,
.tweet-content,
.user-info {
    font-family: 'Chirp', Arial, sans-serif; /* Ensure specific elements use Chirp font */
}

.sidebar {
    width: 20%;
    padding: 15px 35px 35px 0px;
    font-size: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    left: 12%;
}

.sidebar ul {
    padding: 0 0 0 0;
    list-style-type: none;
}

.sidebar ul li {
    margin: 0px 0; /* Adjusted margin */
    display: flex; /* Changed back to flex to stack items vertically */
    align-items: center;
    padding: 15px; /* Add padding for button-like shape */
    margin-top: 5px;
    border-radius: 30px; /* Add border-radius for rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Change mouse pointer to hand */
    width: fit-content; /* Adjust width to fit the content */
}

.sidebar ul li img.icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.x-icon {
    width: 30px; /* Set your desired width */
    height: 30px; /* Set your desired height */
        margin-left: 12px;
}

.sidebar ul li span {
    vertical-align: middle;
}

.sidebar ul li:hover {
    background-color: #181818; /* Dark grey background on hover */
}

.main-content {
    width: 37%;
    padding: 20px;
    margin: 0 25%;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    position: relative; /* Add position relative to contain the fixed top-section */
}

.top-section {
    display: flex;
    position: fixed;
    top: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 1000; /* Ensure top-section is above all other elements */
    width: calc(37% + 40px);
    border-bottom: 1px solid #333;
    margin: 0 -20px;
    cursor: pointer;
}
        
.tab {
    flex: 1;
    text-align: center;
    padding: 15px 0;
}

.for-you {
    border-bottom: 2px solid #1d9bf0;
    font-weight: bold;
}

.following {
    color: grey;
}

.top-section .tab {
    flex: 1;
    text-align: center;
    height: 25px; /* Set explicit height */
    line-height: 25px; /* Center text vertically */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.top-section .tab:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Adjust this color to achieve the desired lighter/brighter tone */
}

.top-section .for-you:hover, .top-section {
    color: white;
}

.tweet {
    padding: 15px 0;
    margin-top: 0px; /* Add margin to push content below the top-section */
        position: relative; /* To contain the absolutely positioned Ad label */
}

hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 0 -20px; /* Negative margin to offset the padding of .main-content */
    width: calc(100% + 40px);
}

.tweet-layout {
    display: flex;
}

.tweet-content {
    margin-top: 5px;
}

.left-column {
    width: 50px;
    margin-right: 10px;
}

.right-column {
    flex: 1;
}

.verification-mark {
    width: 17px; /* Adjust the size to match the name text */
    height: 17px; /* Adjust the size to match the name text */
    margin-left: 0px; /* Space between the name and the verification mark */
    margin-right: 7px; /* Space between the name and the verification mark */

}


.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between name, verification mark, and handle */
        cursor: pointer;

}

.user-info span {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 0px; /* Adjust space between name and handle */
        font-weight: bold;
}


.ad-label {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa; /* Match the color of the handle */
    font-family: 'Chirp', Arial, sans-serif; /* Use the same font */
    font-size: 16px; /* Adjust the size to match the handle */
    padding: 15px 0 0 0; /* Optional: padding for better spacing */
}

.user-handle {
    color: #aaa;
}

.right-sidebar {
    width: 20%;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 6%;
    display: flex;
    flex-direction: column;
}

.subscribe-box, .live-box {
    background-color: black;
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    text-align: left;
}

.subscribe-button {
    background-color: #0099ef; /* Default button color */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #008bd8; /* Hover color */
}

.live-title {
    font-size: 20px;
    font-weight: 800;
    margin: 5px 0 10px 0;
}

.live-content {
    color: white;
    margin: 0 0 10px 0;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #333; /* Dark grey background */
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 15px; /* Space below the search box */
}

.search-box i {
    color: #aaa; /* Icon color */
    margin-right: 10px;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    color: white; /* Text color */
    font-family: 'Chirp', Arial, sans-serif;
    font-size: 16px;
    width: 100%;
}

.search-box:focus-within {
    background-color: black; /* Change background on focus */
    border: 1px solid #1d9bf0; /* Blue border on focus */
}

.search-box:focus-within i {
    color: #1d9bf0; /* Change icon color on focus */
}

.search-box:focus-within .search-input {
    color: white; /* Ensure text color stays white */
}

.sidebar-content {
    flex-grow: 1;
    overflow-y: auto; /* Allow scrolling if content overflows */
    margin-bottom: 20px; /* Space for the footer */
}

.footer {
    position: absolute;
    bottom: 20px; /* Adjust according to your padding */
    width: calc(100% - 40px); /* Adjust according to your padding */
    color: #585d60;
    font-size: 13px;
    text-align: left;
}

.footer p {
    margin: 0;
    line-height: 1.5;
}

.footer p:hover {
    cursor: pointer;
}

/* General styles for tweet bar */
.tweet-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    cursor: pointer;
}

.tweet-action {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative; /* Needed for absolute positioning of the circle */
}

.tweet-action-right {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative; /* Needed for absolute positioning of the circle */
}

.tweet-action-right-left, .tweet-action-right-right {
    position: relative;
}

.tweet-action img, .tweet-action-right img {
    width: 20px;
    height: 20px;
    transition: filter 0.15s ease; /* Smooth transition for filter */
    filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(120%) contrast(88%); /* Default color #70767a */
}

.tweet-action span {
    color: #aaa;
    font-size: 14px;
    transition: color 0.15s ease; /* Smooth transition for color */
}

.tweet-action:hover img, .tweet-action:hover span, .tweet-action:hover::before,
.tweet-action-right-left:hover img, .tweet-action-right-left:hover span, .tweet-action-right-left:hover::before,
.tweet-action-right-right:hover img, .tweet-action-right-right:hover span, .tweet-action-right-right:hover::before {
    filter: none; /* Reset filter */
}

.tweet-action:hover::before, .tweet-action-right-left:hover::before, .tweet-action-right-right:hover::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: -8px; /* Adjust position to center circle behind the icon */
    top: -8px;
    z-index: -1;
    transition: background-color 0.15s ease; /* Smooth transition for background color */
}

/* Specific styles for each action on hover */
.tweet-action:hover img,
.tweet-action-right-left:hover img,
.tweet-action-right-right:hover img {
    filter: invert(50%) sepia(99%) saturate(1726%) hue-rotate(186deg) brightness(93%) contrast(101%); /* Sky blue filter: #0099f0 */
}

.tweet-action:hover::before,
.tweet-action-right-left:hover::before,
.tweet-action-right-right:hover::before {
    background-color: rgba(0, 153, 240, 0.2); /* Translucent sky blue circle: #0099f0 */
}

.tweet-action:nth-child(2):hover img, .tweet-action:nth-child(2):hover::before {
    filter: invert(64%) sepia(45%) saturate(500%) hue-rotate(90deg) brightness(95%) contrast(92%); /* Green filter: #00bc7b */
}

.tweet-action:nth-child(2):hover::before {
    background-color: rgba(0, 188, 123, 0.2); /* Translucent green circle: #00bc7b */
}

.tweet-action:nth-child(3):hover img, .tweet-action:nth-child(3):hover::before {
    filter: invert(45%) sepia(88%) saturate(4576%) hue-rotate(315deg) brightness(101%) contrast(101%); /* Red filter: #fc0080 */
}

.tweet-action:nth-child(3):hover::before {
    background-color: rgba(252, 0, 128, 0.2); /* Translucent red circle: #fc0080 */
}

.tweet-action:hover span,
.tweet-action-right-left:hover span,
.tweet-action-right-right:hover span {
    color: #0099f0; /* Sky blue */
}

.tweet-action:nth-child(2):hover span {
    color: #00bc7b; /* Green */
}

.tweet-action:nth-child(3):hover span {
    color: #fc0080; /* Red */
}

/* Ensuring independence for tweet-action-right elements */
.tweet-action-right-left:hover img {
    filter: invert(50%) sepia(99%) saturate(1726%) hue-rotate(186deg) brightness(93%) contrast(101%); /* Sky blue filter: #0099f0 */
}

.tweet-action-right-left:hover::before {
    background-color: rgba(0, 153, 240, 0.2); /* Translucent sky blue circle: #0099f0 */
}

.tweet-action-right-right:hover img {
    filter: invert(50%) sepia(99%) saturate(1726%) hue-rotate(186deg) brightness(93%) contrast(101%); /* Sky blue filter: #0099f0 */
}

.tweet-action-right-right:hover::before {
    background-color: rgba(0, 153, 240, 0.2); /* Translucent sky blue circle: #0099f0 */
}

.tweet-action-right-left:hover span,
.tweet-action-right-right:hover span {
    color: #0099f0; /* Sky blue */
}


/* Video container styling */
.video-container {
    width: 100%;
    position: relative; /* Make container relative for absolute positioning of the overlay */
    padding: 5px 0;
}

.video-container video {
    width: 100%;
    border-radius: 10px; /* Rounded borders */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Invisible overlay */
    cursor: pointer;
    z-index: 1;
}

/* Hide controls by default and show on hover */
.video-container:hover video {
    outline: none;
}


